<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include('../fragmente/head.ejs') %>
    <meta name="keywords" content="farmacie, medicamente, produse farmaceutice, sănătate, Vitalis, IMC, BMI">
    <meta name="description" content="Farmacia Vitalis oferă o gamă largă de medicamente, suplimente alimentare, produse de îngrijire personală și remedii naturiste, toate disponibile online. Beneficiază de livrare rapidă și consultanță pentru sănătatea ta, cu produse de calitate pentru întreaga familie. Descoperă soluții eficiente pentru tratamentele tale zilnice, cu livrare directă la ușa ta!">    
    <title>Farmacia Vitalis</title>
</head>
<body>
    <%- include('../fragmente/header') %>
    <main>
        <section>
            <h2>Despre noi</h2>
            <p>La <strong>Mobila cu poveste</strong>, ne dedicam reconditionarii mobilierului vechi pentru a-i reda frumusetea si functionalitatea. Echipa noastra de experti foloseste tehnici traditionale si moderne pentru a transforma piese de mobilier uzate in opere de arta unice.</p>
            <p>Fiecare piesa de mobilier pe care o reconditionam are o poveste de spus. De la mese si scaune, la dulapuri si comode, fiecare obiect este tratat cu grija si atentie la detalii pentru a asigura cea mai inalta calitate.</p>
            <p>Pe langa reconditionarea mobilierului, oferim si o gama variata de accesorii cochete si organizam workshopuri despre tehnici de decorare si upcycling. Scopul nostru este sa inspiram si sa educam comunitatea noastra in arta reconditionarii si decorarii.</p>
        
            <p>Bine ați venit la <strong>Farmacia Vitalis</strong>, partenerul dumneavoastră de încredere în menținerea sănătății și a bunăstării! 
                Cu o experiență vastă în domeniul farmaceutic, ne dedicăm furnizării de produse și servicii de calitate, adaptate nevoilor 
                fiecărui pacient.</p>
            <br />
            <br />
            <h2>Misiunea noastra</h2>
            <p>La Farmacia Vitalis, credem că sănătatea este cea mai de preț comoară. De aceea, ne străduim să oferim soluții farmaceutice sigure, 
                eficiente și accesibile, contribuind astfel la îmbunătățirea calității vieții comunității noastre.</p>
            
            <br />
            <br />
            <h2>De ce să alegeți Farmacia Vitalis</h2>
            <p>Suntem mai mult decât o farmacie – suntem un partener de încredere în sănătatea dumneavoastră. Indiferent dacă aveți nevoie de 
                sfaturi profesionale, produse de calitate sau un simplu zâmbet, echipa noastră este aici să vă ajute.</p>
            
            <p>Vă așteptăm cu drag în farmacia noastră pentru a descoperi servicii excelente și produse de calitate superioară, 
                menite să vă îmbunătățească starea de bine!</p>
        </section>
    </main>
    <%- include('../fragmente/footer') %>
</body>
</html>
