.burger-menu {
  display: flex;
}

.main-nav .nav-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #45AAB1;
  flex-direction: column;
  padding: 4rem 0 1rem;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.main-nav .nav-list > li {
  width: 100%;
  margin: 0;
}
.main-nav .nav-list > li a {
  padding: 1rem;
  width: 100%;
}
.main-nav .nav-list > li a::after {
  display: none;
}
.main-nav .nav-list > li a:hover {
  background: #409DA4;
}
.main-nav .nav-list > li .submenu {
  position: static;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  height: 0;
  background: rgb(101.743902439, 189.1951219512, 195.256097561);
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
}
.main-nav .nav-list > li .submenu li a {
  padding-left: 2rem;
}
.main-nav .nav-list > li:hover .submenu {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.nav-toggle:checked ~ .nav-list {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.nav-toggle:checked ~ .burger-menu span:first-child {
  transform: translateY(9px) rotate(45deg);
}
.nav-toggle:checked ~ .burger-menu span:nth-child(2) {
  opacity: 0;
}
.nav-toggle:checked ~ .burger-menu span:last-child {
  transform: translateY(-9px) rotate(-45deg);
}