<footer>
    <address id="contact">                
        <p>Telefon: <a href="tel:+40123456789">+40 123 456 789</a></p>
        <p>Adresă: <a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica">Str. Exemplu, Nr. 1, București</a></p>
        <p>Email: <a href="mailto:contact@farmaciavitalis.ro">contact@farmaciavitalis.ro</a></p>
        <p>Chat: <a href="https://wa.me/40123456789" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></p>
    </address>
    <small>&copy; <time datetime="2024-11-30">30 noiembrie 2024</time> Farmacia Vitalis</small>
    <a href="#" class="back-to-top" aria-label="Inapoi sus">
        <span class="arrow">&#8593;</span>
        <span class="tooltip">Inapoi sus</span>
    </a>
    <p id="banner-printare">Acesta este un proiect școlar!</p>
</footer>